<!--app-nav ></!--app-nav-->
<router-outlet></router-outlet>

<!--app-products></app-products-->

<!--button (click)="createUser()">Crear usuario</!--button-->
<!--button (click)="login()">Login</°button-->
<!--<p>
  <button (click)="downloadPDF()">Descargar PDF</button>
</p>
<p>
  <input type="file" (change)="onUpload($event)">
  <img *ngIf="imgRta" [src]="imgRta">
</p> -->

<!--
    <p><input type="text" [(ngModel)]="imgParent" name="inputImg"></p>
<button (click)="toggleImg()">Toggle Img</button>
<p>{{showImg}}</p>
<app-img *ngIf="showImg" (loaded)="onLoaded($event)" [img]="imgParent" ></app-img>
<hr>

-->
